<div>
  <div class="test">
    {{ test }}
  </div>
</div>

<div class="test">
  <p>Lorem ipsum</p>
  {{ test.example|render|trim }}
</div>

{# hello #}

{% set testing = 'empty' %}

{% if test.example|render|trim is not empty %}
  {% set testing = 'has-content' %}
{% endif %}

<div class="backgrond-div">
  <span> {{ test.example|render|trim }} </span>
</div>

<style>
  .backgrond-div {
    color: var(--testOne);
    padding: 20px;
  }
</style>

<script>
  $(document).ready(function(){
    alert('test');
  });
</script>